@model IEnumerable<Nord.Models.Cours>

@{
    ViewBag.Title = "Details";
}

<h3>Notele studentului :</h3>


<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
    </tr>
}

</table>
